.game-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.button-list {
  list-style: none;
  padding: 25px;
  margin: 0;
}

.button-list li {
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  max-width: 500px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.button-list li.show {
  opacity: 1;
}

.button-list li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #ffffff00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 1s;
}

.button-list li img {
  max-width: 100%;
  max-height: 100%;
}

.button-list.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  padding: 10px;
  flex-wrap: wrap;
  max-width: 600px;
  animation: floatingAnimation 10s ease-in-out infinite;
  margin: auto;
}

@keyframes floatingAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.button-list.horizontal li {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
}

.button-list.horizontal li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.button-list.horizontal li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-list.horizontal li:hover {
  transform: scale(1.1);
}

.button-list.horizontal li button:hover {
  transform: scale(1.1);
}

.button-list.horizontal li button .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.button-list.horizontal li button:hover .hover-effect {
  opacity: 1;
}

.button-list.horizontal li button span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-off {
  opacity: 0.5;
  pointer-events: none;
}

/* Медиа-запрос для уменьшения панели на маленьких экранах (телефонах) */
@media (max-width: 768px) {
  .game-panel-container {
    max-width: 400px;
    max-height: 300px;
  }

  .button-list.horizontal li {
    width: calc(50% - 10px);
  }
  
  .button-list li {
    height: 50px;
  }
}

/* Медиа-запрос для уменьшения панели на очень маленьких экранах (например, смартфонах) */
@media (max-width: 480px) {
  .game-panel-container {
    max-width: 200px;
    max-height: 150px;
  }

  .button-list.horizontal li {
    width: calc(50% - 10px);
    margin-right: 0;
  }
  
  /* Уменьшаем высоту кнопок на очень маленьких экранах */
  .button-list li {
    height: 30px;
  }
}
