/* Общий стиль для кнопок в навигационной панели */
.navigation-panel button {
    width: 120px;
    height: 40px; /* Задайте желаемую высоту кнопок */
    margin-bottom: 3px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.226);
    animation: bounce 1s infinite ease-in-out;
    backdrop-filter: blur(3px); /* Стандартное свойство backdrop filter */
    -webkit-backdrop-filter: blur(3px); /* Добавляем backdrop blur для WebKit браузеров */
    text-align: center; /* Выравнивание текста по центру */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    outline: none; /* Убираем синюю обводку */
    border: none; /* Убираем обводку */
    border-radius: 15px;
}

/* Стиль для навигационной панели с backdrop blur */
.navigation-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);

}

/* Стиль для кнопки "ЧАТ" */
.chat-button {
    position: absolute;
    font-size: 20px;
    top: 0;
}

/* Стиль для кнопки "ФАЙЛЫ" */
.files-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Стиль для кнопки "ИГРЫ" */
.games-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Стиль для кнопки "НАЗАД" */
.back-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Медиа-запрос для уменьшения ширины и высоты кнопок на маленьких экранах */
@media (max-width: 1080px) {
    .navigation-panel button {
        width: 80px;
        height: 25px; /* Уменьшаем высоту кнопок */
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .navigation-panel button {
        width: 80px;
        height: 25px; /* Уменьшаем высоту кнопок */
        font-size: 12px;
    }
}

